<% if user_signed_in? %>
  <div class="text-lg font-bold text-blue-500"> Welcome <%= current_user.email %> </div>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "bg-red-500 text-black px-4 py-2 rounded" %>
  <%= render 'shared/facebook_stats', 
    global_data: @global_data,
    gender_data: @gender_data,
    age_data: @age_data,
    location_data: @location_data,
    device_data: @device_data,
    status_data: @status_data
  %>
<% else %>
  <%= button_to "Sign in", new_user_session_path, class: "bg-green-500 text-black px-4 py-2 rounded" %>
<% end %>
